<template name="zss_views_menu">
  <div class="ws-viemenu-wrapper {{moduleClass}}">
    {{> menuComponent menuName="view" menuLabel=menuLabel menuItems=menuItems menuType=menuType expandLevel=expandLevel}}
  </div>
</template>
