<!--

Post List Compact Component

title (String)
| The title of the post list

incoming (Cursor)
| A cursor containing the new posts since render

postsCursor (Cursor)
| A cursor containing the post list

postsCount (Number)
| How many posts are loaded

postsReady (Boolean)
| Whether the subscription is ready

hasMorePosts (Boolean)
| Whether there are still more posts that can be loaded

loadMoreHandler (Function)
| What to do when the user clicks "load more"

postsField (Object)
| An object cont

-->

<template name="posts_list_compact">
  <table>
    <thead>
      <tr>
        <td>Tên video</td>
        <td>{{fieldLabel}}</td>
      </tr>
    </thead>
    {{#each postsCursor}}
      <tr>
        <td><a href="{{pathFor 'postPage' _id=_id}}">{{title}}</a></td>
        <td>{{fieldValue}}</td>
      </tr>
    {{/each}}
    {{#if hasMorePosts}}
      <tr>
        <td colspan="2">
          <a class="downvoted-more more-button grid-module" href="#"><span>{{_ "load_more"}}</span></a>
        </td>
      </tr>
    {{/if}}
  </table>
</template>
